<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>



<!--<div class="row">-->
<!--  <div class="col-lg-3">-->
<!--    < %= render 'users/user', user: @user %>-->
<!--    < %= render 'books/newbook', book: @book %>-->
<!--  </div>-->

<!--  <div class="col-lg-9">-->
<!--    <h2>Books</h2>-->
<!--    < % @books.each do |book| %>-->
<!--      < %= link_to book.title, book_path(book.id) %>-->
<!--      <span>< %= book.body %><span>-->
<!--    < % end %>-->
<!--  </div>-->

<!--</div>-->



<div class= "container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'users/user', user: @user %>
      <%= render 'books/newbook', book: @book %>
    </div>

    <div class="col-xs-9">
      <h2>Books</h2>

      <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Title</th>
          <th scope="col">Opinion</th>
        </tr>
      </thead>
      <% @books.each do |book| %>
      <tbody>
        <tr>
          <!--<th scope="row">< %= attachment_image_tag @user, :profile_image, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "40x40" %></th>-->
          <th scope="col"><%= attachment_image_tag @user, :profile_image, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "40x40" %></th>
          <td><%= link_to book.title, book_path(book.id) %></td>
          <td><%= book.body %></td>
        </tr>
      </tbody>
      <% end %>
      </thead>

    </div>

  </div>
</div>

