

<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<h4>ログイン後の一覧ページ画面です</h4>

<!--テーブルタグ使って見た目整える-->
<% @books.each do |book| %>
  <%= link_to book.title, book_path(book.id) %>
  <span><%= book.body %><span>
<% end %>

<%= render 'books/newbook', book: @book %>


<%= render 'users/user', user: @user %>
