<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= render 'users/user', user: @user %>
  

<%= render 'books/newbook', book: Book.new %>
<!--コントローラ直書き-->

<h1>詳細ページです</h1>
<p><%= @book.title %></p>
<p><%= @book.body %></p>


<ul>
  <li>
    <% if @book.user == current_user %>
      <%= link_to "Edit", edit_book_path(@book) %>
    <% end %>
  </li>

  <li>
    <% if @book.user == current_user %>
      <%= button_to "Destroy", book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
</ul>

