<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>


<div class="profile-container">
  <h3 class="profile-name"><%= current_user.name %></h3>
  <!--< %= image_tag('sample-author1.jpg', class: "img-circle pull-left profile-thumb", style: "width: 100px; height: 100px; margin-top: 20px;") %>-->
</div>

<%= render 'books/newbook', book: Book.new %>
<!--コントローラ直書き-->

<h1>詳細ページです</h1>
<p><%= @book.title %></p>
<p><%= @book.body %></p>


<ul>
  <li>
    <% if @book.user == current_user %>
      <%= link_to "Edit", edit_book_path(@book) %>
    <% end %>
  </li>

  <li>
    <% if @book.user == current_user %>
      <%= button_to "Destroy", book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
</ul>

